NODE_ENV=development
PORT=3000
VITE_API_URL=http://localhost:3000
VITE_API_BASE=http://localhost:3000
VITE_SUPABASE_URL=https://eihhkzlwqxncbwvyvgen.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaGhremx3cXhuY2J3dnl2Z2VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NTM5ODQsImV4cCI6MjEwMTMyOTk4NH0.Ka5KSk2uP0ieIHOA-Dow6JsCO2l5K4WzyWjzqVbxXng

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaGhremx3cXhuY2J3dnl2Z2VuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NTM5ODQsImV4cCI6MjEwMTMyOTk4NH0.Ka5KSk2uP0ieIHOA-Dow6JsCO2l5K4WzyWjzqVbxXng
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpaGhremx3cXhuY2J3dnl2Z2VuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTc1Mzk4NCwiZXhwIjoyMTAxMzI5OTg0fQ.NZA7oMmBuEdPKjjP3PEuYtmygLQoaqk7y0cnGUl0jIk
DATABASE_URL="postgresql://postgres.eihhkzlwqxncbwvyvgen:Finsave@123@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.eihhkzlwqxncbwvyvgen:Finsave@123@aws-1-eu-west-2.pooler.supabase.com:5432/postgres"

PLAID_CLIENT_ID=6a6dfae3fc8954000df06f73
PLAID_SECRET=13e92f686a065297f69c6c4256fe0b
PLAID_ENV=sandbox
TOKEN_ENCRYPTION_KEY=09d7deb10ea2ed6a180370933aa3d79fb288eb7ccee0770af3f618828a82b246

GROQ_API_KEY=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
TOKEN_ENCRYPTION_KEY=0917be7e900893125e68c859d5e9a4e4f865f7b5acf5875247cbc92a99c0493401298e717a033e22a66444c50065dbe1
